body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #70757a;
}

header {
  width: 100%;
  height: 65px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 190px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-right-section a {
  margin-right: 10px;
  color: #000;
}

header nav .nav-right-section a:hover {
  text-decoration: underline;
}

nav .nav-right-section .menu-icon {
  background-image: url("./assets/dots.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 25px;
  height: 25px;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 15px;
}

main {
  margin-top: 150px;
  text-align: center;
}

main .main-logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-logo img {
  width: 300px;
}

main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input .main-input-container input {
  border-radius: 10%;
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
}

main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

main .main-input-container .search-icon {
  background-image: url("./assets/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 15px;
  width: 22px;
  height: 22px;
}

main .main-input .micro-icon {
  background-image: url("./assets/lens.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 15px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

main .main-buttons {
  width: 530px;
  margin: 0 auto;
}

main .main-buttons div {
  display: inline-block;
}

main .main-buttons div button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

main .main-buttons div button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

footer {
  width: 100%;
  height: 50px;

  position: absolute;
  align-items: center;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #dfe1e5;

  display: grid;

  grid-template-columns: 1fr 1fr;
}

footer ul {
  display: flex;
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0;
}

footer ul li {
  margin: 10px;
}

footer .footer-left {
  justify-self: left;
}

footer .footer-right {
  justify-self: right;
}
